---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/blog-post/BlogPost.astro";

import "../../styles/globals.css";

// import.meta.glob() will return an array of objects, one for each blog post
const allPosts = Object.values(
  import.meta.glob("../posts/*.md", { eager: true }),
);
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
