---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/blog-post/BlogPost.astro";

// The getStaticPaths function returns an array of page routes, and all of the pages at those routes will use the same template defined in the file.
export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../posts/*.md", { eager: true }),
  );

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.frontmatter.tags.includes(tag),
    );

    // A getStaticPaths function should always return a list of objects containing params (what to call each page route)
    // and optionally any props (data that you want to pass to those pages).
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

// Access to the params object is provided by Astro, and it contains the dynamic route parameters.
const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post: any) =>
  post.frontmatter.tags?.includes(tag),
);
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      filteredPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
