---
import Navigation from "../navigation/Navigation.astro";
import Hamburguer from "../hamburguer/Hamburguer.astro";
import ThemeIcon from "../theme-icon/ThemeIcon.astro";
---

<header>
  <nav>
    <Hamburguer />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
